<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=day%>'s List 🎯</h1>
    </div>
    <div class="box">
      <% for (let item in items) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= items[item] %></p>
      </div>
      <% } %>
      <form action="/" method="post" class="item">
        <input type="text" name="item" placeholder="New Item" autocomplete="off" />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
